requirements = """torch
torchvision
segmentation-models-pytorch
opencv-python
numpy
pandas
matplotlib
scikit-learn
scikit-image
albumentations
Pillow
PyYAML
"""

with open("/content/WSI_Artifact_Detection/requirements.txt", "w") as f:
    f.write(requirements)

print("requirements.txt created")
